<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myaaronbatch.unt.edu.babyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Light_Theme">

        <!-- Dropbox AuthActivity -->
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:scheme="db-6f1nbviuxhi7slb" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- Insert your app key after “db-  ...” -->
                <data android:scheme="db-6f1nbviuxhi7slb" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseChildMenu">
        </activity>
        <activity android:name=".SessionRecordingMenu" />
        <activity android:name=".OptionsMenu" />
        <activity android:name=".StartOrEndSessionMenu" />
        <activity android:name=".SessionInformationMenu" />
        <activity android:name=".SessionViewingMenu" />
        <activity android:name=".ShareWeeklyReportMenu" />
        <activity android:name=".FeedingSessionInfoMenu" />
        <activity android:name=".MedicalSessionInfoMenu" />
        <activity android:name=".SleepingSessionInfoMenu" />
        <activity android:name=".WasteSessionInfoMenu" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AddChildMenu" />
        <activity android:name=".RemoveChildMenu" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".LoginMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>